<template>
    <div id="wrapper">
        <h2 class="mt-5 mb-4 text-center">
List: {{list.name}}
        </h2>
        <div class="row">
            <a href="/mail/create" class="pl-3">Import New List</a>
        </div>

        <div class="table-wrapper">
            <div class="row m-2">
                <div class="col-3">ID</div>
                <div class="col-3">Name</div>
                <div class="col-3">Email</div>
                <div class="col-3">Postal Code</div>
            </div>
            <hr>
            <div v-for="item in details" class="row m-2">
                <div class="col-3">{{item.id}}</div>
                <div class="col-3">{{ item.name }}</div>
                <div class="col-3">{{ item.email }}</div>
                <div class="col-3">{{ item.postal_code }}</div>
            </div>

        </div>
        <div class="row pl-3 mt-3">
            <button @click="exportList()" class="btn btn-outline-secondary">DOWNLOAD</button>
        </div>
    </div>


</template>

<script>
export default {
    name: 'mailing-list-details',
    props: ['list', 'details'],
    methods: {
exportList(){
        window.location.href = `/file-export/${this.list.id}`;
}
    },
    mounted() {
        console.log('Component mounted.')
    }
}
</script>
<style>

</style>
