<template>
    <div id="wrapper">
        <div class="row mt-5">
            <div class="col-6 text-right pr-0">
                <button @click="uploadTab = true; list = false" class="btn btn-sm btn-primary">Mailing List Upload
                </button>
            </div>
            <div class="col-6 pl-8 pr-0">
                <button @click="list = true; uploadTab = false" class="btn btn-sm btn-primary">List Of Mailing</button>
            </div>
        </div>
        <div v-show="uploadTab === true" id="upload-tab" class="container mt-5 text-center col-6">
            <h2 class="mb-4">
                Mailing List Upload
            </h2>
            <form @submit.prevent="upload" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <label class="float-left pl-1" for="name">Mailing Name</label>
                    <input v-model="listName" type="text" class="form-control" id="name" aria-describedby="name">
                </div>

                <div class="form-group form-row">
                    <label for="mail-date" class="float-left pl-1">Mailing Date</label><br>
                    <date-picker v-model="date" id="mail-date" class="col-12" valueType="format"></date-picker>
                </div>


                <div class="custom-file text-left mb-3">
                    <input @change="filePicked" ref="fileInput" type="file" name="file" class="custom-file-input"
                           id="customFile">
                    <label class="custom-file-label" for="customFile">Choose Mailing List To Upload</label>
                </div>

                <button type="submit" class="float-left btn btn-primary">Submit</button>
            </form>
        </div>

        <div v-show="list === true" id="list-tab" class="container mt-5 text-center col-12">
            <h2 class="mb-4">
                Mailing Lists
            </h2>
            <div class="table-wrapper">
                <div class="row m-2">
                    <div class="col-3">ID</div>
                    <div class="col-3">Name</div>
                    <div class="col-3">Created At</div>
                    <div class="col-3">Actions</div>
                </div>
                <hr>
                <div v-for="list in mailingLists" class="row m-2">
                    <div class="col-3">{{ list.id }}</div>
                    <div class="col-3">{{ list.name }}</div>
                    <div class="col-3">{{ list.created_at }}</div>
                    <div class="col-3">
                        <button id="submit-button" @click="redirectDetails(list.id)"
                                class="btn btn-sm btn-outline-danger">Details
                        </button>
                    </div>
                </div>
                <!--                <datatable :columns="columns" :data="mailingLists"></datatable>-->
            </div>
        </div>
    </div>


</template>

<script>
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';

// import {VuejsDatatableFactory} from 'vuejs-datatable';
// Vue.use(VuejsDatatableFactory);

export default {
    data() {
        return {
            uploadTab: true,
            list: false,
            listName: '',
            currentList: '',
            mailingLists: {},
            file: '',
            date: '',
        }
    },
    methods: {
        redirectDetails(id) {
            window.location.href = `/mail/details/${id}`;
        },
        getLists() {
            let _this = this;
            axios.get("/mail/lists", {})
                .then(res => {
                    _this.mailingLists = res.data
                })
        },
        filePicked(e) {
            this.file = e.target.files[0];
        },
        upload() {
            const formData = new FormData();
            this.file = document.getElementById("customFile").files[0];
            formData.set('file', this.file)
            formData.set('list_name', this.listName)
            formData.set('date', this.date)
            axios.post('/file-import', formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            })
                .then(res => {
                    // console.log('Response - ', res)
                    this.getLists();
                })
        },
    },
    mounted() {
        this.getLists();
        console.log('Component mounted.')
    }
}
</script>
<style>
.table-wrapper {
    border: 1px solid #ccc !important;
    padding: 2em;
    width: 100%;
    max-height: 30em !important;
    overflow-y: auto;

}

#list-tab table {
    width: 100%;
}
</style>
